* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
.for-siema {
    background: #ad00ff;
}
a {
    color: gray;
}

*::selection {
    background-color: #f4e08c;
}

body {
    font-family: Open sans, sans-serif;
    font-size: 14px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*inrto*/

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #00000033;
    /* background: url("../img/intro.jpg") 0 0 no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.for-siema {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -100;
}

.siema-img {
    width: 100%;
}

.titleinhead {
    color: #fff;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}


.introtitle {
    text-shadow: 1px 3px rgba(0, 0, 0, .1);
    font-size: 45px;
    font-weight: bold;
    font-family: Uni Sans, 'Montserrat Alternates', sans-serif;
}

#uuuPARA {
    height: 11vh !important;

}

.introtitle:before {
    content: "";
    display: block;
    width: 140px;
    height: 3px;
    margin: 15px;
    margin-left: 10px;
    background-color: #f4e08c;
}

.introtitle:after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    margin: 5px auto;

    background-color: #f4e08c;
}

.introtitlebott {
    float: right;
}

.introtitlebott:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin-top: 3px;
    margin-left: 110px;

    background-color: #f4e08c;
}

.introtitlebott:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px;

    background-color: #f4e08c;
}

/*тут я центрирую, это надо убрать*/

/*Head-Menu*/

header {
    position: absolute;
    z-index: 1000;
    width: 100%;

    padding-top: 30px;
}

.headerin {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logohead {
    width: 10%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

/*--Menu*/
.navhead {
    transform: translate(0, -125%);
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.navhead .navlink::before {
    content: '';
    bottom: 0;
    height: 2px;
    background-color: #f4e08c;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: .3s;
}

.navhead .navlink:hover:before {
    transform: scaleX(1);
}

.navlink:hover {
    color: #f4e08c;
}

.navlink {
    padding-bottom: 4px;
    position: relative;
    vertical-align: top;
    margin: 0 1vw;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}


.activelink {
    color: #f4e08c;
    margin-right: 3vw;
}

/*--link active*/


/*--Button*/
.button {
    margin-top: 50px;
    --width: 130px;
    --height: 55px;
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    line-height: var(--height);
    color: #fff;
    padding: 0;
    border: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-family: Uni Sans, 'Montserrat Alternates', sans-serif;
    text-decoration: none;
    transition: 2s;
    background-color: transparent;
    border-color: transparent;
}

.button:hover,
.button:focus {
    outline: none;
    color: yellow
}

.button-svg,
.button-rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
}

.button-rect {
    stroke: #f4e08c;
    stroke-width: 6;
    stroke-dasharray: var(--height) var(--width);
    stroke-dashoffset: calc(
            2 * var(--width) + 2.5 * var(--height)
    );
    transition: 2s;
}

.button:hover .button-rect,
.button:focus .button-rect {
    stroke: yellow;
    stroke-dashoffset: calc(2.5 * var(--height));
}

.numbersmenu {
    display: flex;
}

/* section */

.layer {
    padding: 80px 0;
}

.layer:last-child {
    padding: 0px 0;
}

.modificator {
    margin-top: 80px;
}

.titlemid {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.sectionsubtitle {
    /*color: 333;*/
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.sectiontitle {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    /*color: 333;*/
    font-size: 30px;
    font-family: 'Montserrat Alternates', cursive;
}

.sectiontext {
    font-size: 13px;
    color: #999;
}

.sectionsubtitle:after {
    content: "";
    display: block;
    width: 155px;
    height: 3px;
    margin-left: 585px;
    background-color: #f4e08c;
}

.sectiontext:before {
    content: "";
    display: block;
    width: 125px;
    height: 3px;
    margin-left: 685px;
    background-color: #f4e08c;
}

.sectiontitle:before {
    content: "";
    display: block;
    width: 95px;
    height: 3px;
    margin-left: 165px;
    background-color: #f4e08c;
}

.sectiontitle:after {
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    margin-left: 200px;

    background-color: #f4e08c;
}

/* services #f38181, #fce38a*/
.services {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.bottomodificator {
    margin-top: 150px;
}

.servicesfoto {

    background-color: #f4e08c;
    position: relative;
}

.servimg {
    position: absolute;
}

.gradients {
    background: linear-gradient(to bottom, #ffd955, #ff9358);
    transition: transform .2s linear;
}

.servicesfoto:hover .gradients {
    transform: translate3d(10px, 10px, 0px);
}

.servicesfoto:hover .gradients img {
    opacity: .1;
}

.gradients img {
    display: block;
    transition: opacity .3s linear;
}

.animtextbot {
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    transform: translate3d(0, 160%, 0);
    font-family: 'Open Sans', sans-serif;
}

.animtext {
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    transform: translate3d(0, -10%, 0);
    font-family: 'Open Sans', sans-serif;
}

.servicesfoto:hover .animtext {
    opacity: 1;
}

.servicesfoto:hover .animtextbot {
    opacity: 1;
}

/* statistics */

.statistics {
    background-color: #fbda50;
}

.statitems {
    display: flex;
}

.stitem {
    flex: 1 1 0;
    padding: 70px 25px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #fff4c7;
}

.stitem:first-child {
    border-left: 1px solid #fff4c7;
}

.stnum {
    transition: .3s linear;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 82px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
}

.stitem:hover .stnum {
    transform: scale(1.2) rotate(-10deg);
}

.sttext {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

/* prime */
.prime {
    padding-top: 80px;
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid #e5e5e5;
}

.prime:last-child {
    border-bottom: none;
    padding-top: 60px;
    padding-bottom: 0px;
}

.primeitem {
    position: relative;
    padding-left: 90px;
    padding-right: 20px;
}

.primeimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.primetitle {
    font-size: 17px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
}

.primetext {
    font-size: 14px;
    color: #656565;
}

.primetext:before {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fec130;
    transition: width .2s linear;
}

.hoverinprime {
    width: 40%;
}

.hoverinprime:hover .primetext:before {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    margin-bottom: 10px;
    background-color: #fec130;
}

.hoverinprime:hover .primeimg {
    transform: rotate(10deg);
}

/*portfolio*/
.portfolio {
    padding-top: 30px;
    display: flex;
}

.portfolitem {
    width: 50%;
}

.trans {
    overflow: hidden;
    position: relative;
}

.trans .porfolioimg {
    height: 13%;
}

.porfolioimg {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    transition: .4s;
    /*opacity: .5;*/
    height: 100%;
    position: relative;
}

.porfolioimg:hover {
    transform: scale(0.9);
    opacity: 0.6;
}

.trans h3,
.trans p {
    position: absolute;
    transition: 0.4s linear;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
    padding: 5px 15px;
    border-left: 4px solid #f7db65;
    transform: translateX(-100%);

}

.trans h3 {
    font-size: 15px;
    text-transform: uppercase;
    top: 70%;
}

.trans p {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    top: 80%;
}

.trans:hover h3,
.trans:hover p {
    margin-left: 50px;
    transform: translateX(0);
}

/*stats*/
.statsitem {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.statshead {
    cursor: pointer;
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

.statshead:hover {
    background-color: #f7f7f7;
}

.statshead:after {
    content: "";
    cursor: pointer;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 45%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    border-right: 2px solid #ffe98c;
    border-top: 2px solid #ffe98c;
}

.stats.active
.statshead:after {
    transform: rotate(-45deg);
}

.stats.active
.content {
    display: block;
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #999;
    padding: 15px 20px;

    /*скрываю инфу*/
    display: none;
}

.statstitle {
    font-family: Oswald, sans-serif;
    color: #333;
    text-transform: uppercase;
}

.statsimg {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    padding-left: 20px;
}

.statsimg:hover {
    opacity: 0.5;
}


/* comment */
.animtextbotmod {
    transform: translate3d(0, -50%, 0);
}

.colormod {
    background-color: #f3f3f3;
}

.comments {
    padding: 0px 110px;
}

.commentitem {
    padding-left: 205px;
    position: relative;
}

.commentimg {
    opacity: 0.8;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 4px solid #f7db65;
}

.commenttext {
    margin-bottom: 25px;
    font-size: 19px;
    color: #999;
    font-style: italic;
}

.commentavtor {
    font-weight: bold;
    font-size: 16px;
    color: #000;

}

.commentavtor:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #fbda4d;
}

.offers {
    align-items: center;
    justify-content: space-around;
}

.servicesfoto:hover .gradientsmod {
    transform: translate3d(-5px, -5px, 0px);
}

.social {
    display: flex;
    justify-content: center;
}

.socialitem {
    width: 55px;
    height: 55px;
    padding: 20px 20px;
    background-color: #ffe473;
    border-right: 2px solid #ff6050;
    border-radius: 4px;
    color: #ff6050;
    font-size: 35px;
    box-shadow: 2px 1px rgba(0, 0, 0, .1);
    transition: .3s linear;
    text-decoration: none;
}

.namesocial {
    margin-right: 20px;
}

.socialitem:last-child {
    border-right: none;
}

.socialitem:hover {
    color: #fff;
    background-color: #ff6050;
}

.names {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.fa-instagram {
    width: 55px;
    height: 55px;
}

.nametitle {
    font-size: 12px;
    color: #989898;
}

.nameitem {
    margin-top: 5%;
}

/*partners*/
.partners {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.partneritem:hover {
    transition: .2s linear;
    transform: scale(1.1);
}

/*works*/
.works {
    padding-top: 40px;
    display: flex;
}

.workscolum {
    flex: 1 1 0;
}

.worksitem {
    height: 37vh;
    width: 100%;
    position: relative;
    background: linear-gradient(to bottom, #ffd955, #ff9358);
}

.worksitem:hover .workimg {
    opacity: .1;
}

.workimg {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: opacity .2s linear;
}

#workimg {
    height: 74vh;
}

.workshover {
    opacity: 0;
    transition: opacity .2s linear;
    color: #fff;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
}

.worksitem:hover .workshover {
    opacity: 1;
}

.workimglogo {
    padding-bottom: 10px;
}

.worktitle {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Oswald, sans-serif;
    margin-bottom: 5px;
}

.worksubtitle {
    font-size: 11px;
}

/*clients*/


/*sale*/
.sale:first-child {
    margin-top: 1%;
}

.sale {
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.saletitle {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 8px;
    font-family: Oswald, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.saleitems:hover .datein {
    left: -15px;
}

.saleitems:hover .salenum {
    margin-left: 10px;
}

.saletexttop {
    margin-bottom: 8px;
}

.saletextbottom {
    padding-bottom: 15px;
}

.salenum {
    transition: .2s linear;
    margin-bottom: 10px;
    width: 25%;
    font-style: italic;
    color: #fff;
    padding: 5px 20px;
    background: #f7d441;
    border-radius: 50px;
}

.saletextbottom:before {
    content: "";
    display: block;
    width: 175px;
    height: 3px;
    margin-bottom: 8px;
    background-color: #f7d64b;
    transition: width .3s linear;
}

.saletexts {
    color: #727272;
    width: 93%;
}

.saleinfo:before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-color: #555555;
    margin-bottom: .1%;
}

.saleinfo {
    color: #555555;
}

.saleitems:hover .datein {
    opacity: 1;
}

.salehead {
    position: relative;

}

.saleimg1 {
    width: 100%;
    margin-right: 20px;
}

.datesnum {
    font-size: 25px;
}

.datein {
    opacity: 0;
    transition: .2s linear;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    bottom: 14px;
    left: -10px;
    background-color: #f7d64b;
    padding: 12px;
    z-index: 1;
}

.moddatein {
    opacity: 1;
    bottom: 74px;
    left: -160px;
    transform: translateX(0%);
}

footer {
    padding-top: 60px;
    color: #f8f8f8;
}

.footmod {
    width: 35%;
}

.footmodsec {
    width: 30%;
}

.footerin {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    padding-bottom: 70px;
}

.foottitle {
    margin-bottom: 30px;
    color: #ccc;
    font-size: 36px;
}

.footext {
    color: #999;
}

.foothead {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13px;
    padding-top: 30px;
    color: #333;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #999;
}

.numbersfoot {
    width: 88%;
    display: flex;
    padding-bottom: 6px;
    border-bottom: 3px solid #f7d64b;
    justify-content: space-around;
}

.numitems:first-child {
    margin-left: 0px;
}

.numitems {
    margin-top: 15%;
    color: #989797;
    margin-left: 35px;
}

.footcontent {
    font-style: italic;
    color: #999;
    font-weight: 300;
    padding-top: 20px;
}

.footsocial {
    margin-bottom: 40px;
}

.footcontent a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    font-size: 18px;
    color: #f7d64b;
}

.footcontent a:hover {
    color: #e8c327;
}

.footername {
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    color: #333;
    margin-bottom: 30px;
    margin-top: 15px;
}

.seconditem {
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.seconditem:hover .secondimage {
    transform: scale(1.1);
}

.secondimage {
    transition: .2s linear;
    width: 120px;
    height: 80px;
}

.sectexts {
    padding-left: 20px;
}

.seca {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
}

.seca:hover {
    text-decoration: underline;
}

.secadate {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}


.footerbott {
    color: #2d3436;
    background-color: #dfe6e9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.create {
    opacity: 0.3;
    height: 40px;
    width: 40px;
}


/*contacts*/

.wallper {
    height: 40px;
    margin-bottom: 2%;
    background-color: #f5f5f5;
}

.numbers {
    display: flex;
    justify-content: space-around;
}

.numberite {
    font-size: 20px;
    color: #676767;
    font-family: 'Oswald', sans-serif;
}

.modcolorcontact {
    color: #ffda5a;
}

.namescontact {
    margin-top: 2%;
}

.animmname {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.anmconitem {
    opacity: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: #dedede;
}

.animnames {
}

.anmconitem {
    margin-top: 10px;
    opacity: 0;
    position: relative;
    transition: .4s;
}

.anmconitem:before {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background-color: #f7d64b;
    transition: width .3s linear;
}

.wallper:hover .anmconitem {
    opacity: 1;
}

.wallper:hover .anmconitem:before {
    width: 85px;
}

/*  */
/* adminpanel */
/*  */
.otstup-php {
    height: 20vh;
}

.menu-admin {

}

.linkes-php {
    display: block;
    width: 70%;
    height: 80%;
    font-family: Verdana Sens Sherif;
    font-size: 13px;
    color: red;
    font-weight: 500;
    background-repeat: no-repeat;
    padding: 7px 0px 15px 0px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid red;
}

.linkes-php:hover {
    padding: 9px 0px 0px 0px;
    border: 3px solid orange;
    padding: 5px 0px 15px 0px;
    font-weight: 900;
}

.stnum-php {
    color: gray;
}

/* the .16 kode */
.servimg {
    width: 100%;
}

.numberite {
    color: #999;
    transition: 1s;
    opacity: .8;
}

.modcolorcontact {
    opacity: .7;
    transition: 1s;
}

.number-hover:hover .modcolorcontact {
    color: #ffac14;
    opacity: 1;
}

.number-hover:hover .numberite {
    opacity: 1;
    color: black;
}

.portfolitem {
    margin-right: 2%;
}

.saleitems {
    width: 100%;
    height: 500px;
}

a.clr-W {
    color: white;
}

.saleitemsX {
    display: flex;
    justify-content: space-around;
}

.containerX {
    max-width: 93%;
    margin: auto;
}

.scalesale {
    transition: 1s;
}

.scalesale:hover {
    transform: scale(1.06);
}


.otstup-php {
    height: 20vh;
}

.menu-admin {

}

salehead
.linkes-php {
    display: block;
    width: 70%;
    height: 80%;
    font-family: Verdana Sens Sherif;
    font-size: 13px;
    color: red;
    font-weight: 500;
    background-repeat: no-repeat;
    padding: 7px 0px 15px 0px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid red;
}

.linkes-php:hover {
    padding: 9px 0px 0px 0px;
    border: 3px solid orange;
    padding: 5px 0px 15px 0px;
    font-weight: 900;
}

.stnum-php {
    color: gray;
}

/* the .16 kode */
.servimg {
    width: 100%;
}

.numberite {
    color: #999;
    transition: 1s;
    opacity: .8;
}

.modcolorcontact {
    opacity: .7;
    transition: 1s;
}

.number-hover:hover .modcolorcontact {
    color: #ffac14;
    opacity: 1;
}

.number-hover:hover .numberite {
    opacity: 1;
    color: black;
}

.portfolitem {
    margin-right: 2%;
}

.saleitems {
    width: 100%;
    height: 500px;
}

a.clr-W {
    color: white;
}

.saleitemsX {

    display: flex;
    justify-content: space-around;
}

.boxxer {
    margin: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* .saleitemsXS {
	margin: 3%;
} */
/* .qwertysso {
   width: 15%;
} */
.containerX {
    max-width: 93%;
    margin: auto;
}

.texst {
    margin-left: 20px;
}

.scalesale {
    transition: 1s;
}

.scalesale:hover {
    transform: scale(1.06);
}

.saleitemsX {
    margin-top: 30px;
}

footer {
    background-color: #fbfbfb;
}

.arround {
    display: flex;
}

.modlogo {
    width: 125%;
    transform: translate(-65%, 20%);
}

/* preloader */
/*.preloader {*/
/*    background: linear-gradient(0deg, #FFFAFA 10%, #DCDCDC 90%);*/
/*    overflow: hidden;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    z-index: 99999;*/
/*}*/

/*.preloader .loader {*/
/*    position: absolute;*/
/*}*/

/*.bgvideo {*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*  */
/*  */
/*  */
@keyframes slider {
    45% {
        opacity: 1;
    }
}

.servimg {
    animation: slider 10s ease;
    opacity: 0;
}

#imagg1 {
    opacity: 1;
}

#imagg2 {
    animation-delay: 4s;
}

#imagg3 {
    animation-delay: 9s;
}

#imagg4 {
    animation-delay: 14s;
}

#imagg5 {
    animation-delay: 19s;
}

#imagg6 {
    animation-delay: 24s;
}

#imagg7 {
    animation-delay: 29s;
}

#imagg8 {
    animation-delay: 34s;
}

#imagg9 {
    animation-delay: 39s;
}

#imagg10 {
    animation-delay: 44s;
}

#imagg11 {
    animation-delay: 49s;
}

.to-top {
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url(../img/top-img.png) no-repeat;
}


.servicesX {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;

}

.bottomodificatorX {
    margin-top: 150px;
}

.servicesfotoX {
    max-width: 380px;
    background-color: #f4e08c;
    position: relative;
    margin: 1vh;
    margin-bottom: 3vh;
    /* max-height: 160px; */
}

.gradientsX {
    background: linear-gradient(to bottom, #ffd955, #ff9358);
    transition: transform .2s linear;
}

.servicesfotoX:hover .gradientsX {
    transform: translate3d(10px, 10px, 0px);
}

.servicesfotoX:hover .gradientsX img {
    opacity: .1;
}

.gradientsX img {
    display: block;
    transition: opacity .3s linear;
}

.animtextbotX {
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    transform: translate3d(0, 160%, 0);
    font-family: 'Open Sans', sans-serif;
}

.animtextX {
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    transform: translate3d(0, -10%, 0);
    font-family: 'Open Sans', sans-serif;
}

.servicesfotoX:hover .animtextX {
    opacity: 1;
}

.servicesfotoX:hover .animtextbotX {
    opacity: 1;
}

.servimgX {
    max-width: 380px;
    max-height: 380px;
}


.galery-photo {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f3f3f3;
    width: 100%;
    min-height: 100vh;
    /* display: none; */
}

.pimg {
    max-width: 45vw;
    max-height: 52vh;
    margin-bottom: 8vh;
    transition: 1s;
}

.pimg:hover {
    transform: scale(1.05);
}

.nazad-please {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10001;
    transform: translate(-46vw, -8vh) rotate(-90deg);
    transition: 0.3s
}

.nazad-please:hover {
    transform: translate(-46vw, -8vh) rotate(-60deg);
}


.videoscreen {
    background: #fbfbfb;
    padding-top: 5vh;
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video iframe:hover {
    transform: scale(1.05);
}

.video iframe {
    transition: .8s;
    padding: 4em;
}

.salenum {
    transition: 0.3s;
}

.salenum:hover {
    margin-left: 5px;
}

.saleitemsXS {
    transition: 0.6s;
}

.saleitemsXS:hover {
    transform: scale(1.05);
}

iframe {
    width: 560px;
    height: 315px;
}

.sp-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modlogo {
    width: 125%;
    transform: translate(10%, 20%);
}

.button {
    margin-top: 20vh;
}

.sale {
    margin-top: 6%;
    display: flex;
    transform: scale(0.9);
    align-items: center;
    justify-content: space-around;
}

.bgvideo {
    right: 0;
    bottom: 0;
    width: auto;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.preloader {
    background: linear-gradient(0deg, #FFFAFA 10%, #DCDCDC 90%);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services {
    margin-top: -3vh;
    display: flex;
    justify-content: space-around;
}
.nameperson {
    font-size: 2em;
}
.nameitem {
    margin-top: 4vh;
}
#akc {
    margin-top: -5vh;
}
@media screen and (max-width: 1024px) {
    .preloader {
        opacity: 0;
        display: none;
        visibility: hidden;
    }

    .bgvideo {
        right: 0;
        bottom: 0;
        width: auto;
        min-height: 100vh;
        min-width: 100vw;
        max-width: 340vw;
    }

    .sale {
        margin-top: 6%;
        display: flex;
        transform: scale(1);
        align-items: center;
        justify-content: space-around;
    }

    .arround {
        display: block;
    }


    .saleitemsX {
        display: block;
    }

    .framemapa {

        width: 90vw;
        height: 30vh;

    }

    .footmod {
        width: 100%;
    }

    .numbersfoot {
        width: 99%;
        display: flex;
        padding-bottom: 6px;
        border-bottom: 3px solid #f7d64b;
        justify-content: space-around;
        font-size: 2.1em;
    }

    .foottitleb {
        display: none;
    }

    .footsubtitle {
        display: none;
    }

    .sp-footer {
        font-size: 4em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .create {
        opacity: 0.3;
        height: 1.4em;
        width: 1.4em;
        margin-bottom: -0.3em;
    }

    .saleitemsXS {
        transition: 0.6s;
        width: 99%;
        margin-top: 7vh;
    }

    .salenum {
        transition: .2s linear;
        margin-bottom: 10px;
        width: 100%;
        font-style: italic;
        color: #fff;
        padding: 5px 20px;
        background: #f7d441;
        font-size: 2em;
        text-align: center;
        border-radius: 50px;
        margin-left: -0.25em;
    }

    .to-top {
        display: none;
    }

    .numbers {
        text-align: center;
        display: block;
    }

    .numberite {
        color: #999;
        transition: 1s;
        opacity: .8;
        font-size: 6em;
        padding: 0.5em;
    }

    .wallper {
        height: auto;
        margin-bottom: 2%;
        background-color: #f5f5f5;
    }

    #akc {
        display: none;
    }

    .sale {
        margin-top: 6%;
        display: block;
        text-align: center;
        font-size: 2.5em;
    }

    .saleitems {
        width: 95%;
        height: auto;
        margin-bottom: 10vh;
    }

    #nextes {
        display: none;
    }

    .saleimg {
        width: 100vw;
        margin-left: -0.7em;
    }

    .saletitle {
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 8px;
        font-family: Oswald, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
    }

    .saleinfo {
        display: none;
    }

    .sectionsubtitle {
        display: none;
    }

    .sectiontext {
        display: none;
    }

    .sectiontitle {
        margin-top: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 8em;
        font-family: 'Montserrat Alternates', cursive;
    }

    .servicesfoto {

        background-color: #f4e08c;
        position: relative;
    }

    .nameitem {
        margin-top: 6vh;
        font-size: 6em;
    }

    .nametitle {
        font-size: 3.5rem;
        color: #989898;
    }



    #part {
        display: none;
    }

    .statitems {
        display: block;
    }

    .video iframe {
        transition: .8s;
        padding: 4em;
        width: 80vw;
        height: 21vh;
    }

    .intro {
        display: none;
    }

    .for-siema {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -100;
    }

    header {
        position: relative;
        width: 100%;
        padding-top: 30px;
        background: #00000070;
    }

    .logohead {
        width: 40%;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
    }

    .modlogo {
        width: 125%;
        transform: translate(0, 0);
    }

    .navhead {
        transform: translate(0, 0);
        font-size: 2.4em;
        text-transform: uppercase;
        margin-right: 10vw;
        font-family: 'Oswald', sans-serif;
    }

    .navlink {
        display: block;
    }

    #www98888 {
        display: none;
    }

    #www99999 {
        display: none;
    }

    #svg {
        width: 30px;
        margin-bottom: -10px;
    }

    .servimgX {
        max-width: 96vw;
        max-height: 29vh;
    }

    .servicesX {
        display: block;
    }

    .pimg {
        max-width: 99vw;
        max-height: 100vh;
        margin-bottom: 5vh;
        transition: 1s;
    }

    .nazad-please {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 10001;
        transform: translate(-41vw, -1vh) rotate(-90deg) scale(2.5);
        transition: 0.3s;
    }

    .nazad-please:hover {
        transform: translate(-41vw, -1vh) rotate(-60deg) scale(2.5);
    }
    .saleitems {
        width: 95%;
        height: auto;
        padding-bottom: 10vh;
        margin: auto;
    }
    .saletexts {
        color: #727272;
        width: 100%;
    }
    .texst {
        margin-left: 20px;
        text-align: center;
    }
    .nameperson {
        font-size: 1em;
    }
    .services {
        margin-top: 0;
        display: flex;
        justify-content: space-around;
    }
}

#svg {
    width: 30px;
    margin-bottom: -4px;
}